-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: solar_tracker
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `consumers`
--

DROP TABLE IF EXISTS `consumers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `consumers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `consumer_number` varchar(60) NOT NULL,
  `ula_application_id` varchar(60) DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  `mobile` varchar(20) DEFAULT NULL,
  `alternate_mobile` varchar(20) DEFAULT NULL,
  `address` varchar(500) DEFAULT NULL,
  `village` varchar(150) DEFAULT NULL,
  `mandal` varchar(150) DEFAULT NULL,
  `district` varchar(150) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `pincode` varchar(10) DEFAULT NULL,
  `section` varchar(100) DEFAULT NULL,
  `distribution` varchar(150) DEFAULT NULL,
  `site_type` varchar(50) DEFAULT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'ACTIVE',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `consumer_number` (`consumer_number`),
  UNIQUE KEY `ula_application_id` (`ula_application_id`),
  KEY `idx_consumers_name` (`name`),
  KEY `idx_consumers_mobile` (`mobile`),
  KEY `idx_consumers_village` (`village`),
  KEY `idx_consumers_district` (`district`),
  KEY `idx_consumers_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consumers`
--

LOCK TABLES `consumers` WRITE;
/*!40000 ALTER TABLE `consumers` DISABLE KEYS */;
/*!40000 ALTER TABLE `consumers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dcr_documents`
--

DROP TABLE IF EXISTS `dcr_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dcr_documents` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `dcr_id` bigint NOT NULL,
  `document_type` varchar(50) NOT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `file_path` varchar(500) DEFAULT NULL,
  `uploaded_by` bigint DEFAULT NULL,
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_dcr_document_dcr` (`dcr_id`),
  KEY `fk_dcr_document_user` (`uploaded_by`),
  CONSTRAINT `fk_dcr_document_dcr` FOREIGN KEY (`dcr_id`) REFERENCES `dcr_records` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_dcr_document_user` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dcr_documents`
--

LOCK TABLES `dcr_documents` WRITE;
/*!40000 ALTER TABLE `dcr_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `dcr_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dcr_records`
--

DROP TABLE IF EXISTS `dcr_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dcr_records` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `installation_id` bigint NOT NULL,
  `dcr_number` varchar(100) DEFAULT NULL,
  `dcr_status` varchar(30) NOT NULL DEFAULT 'PENDING',
  `submitted_at` timestamp NULL DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `remarks` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_dcr_installation` (`installation_id`),
  CONSTRAINT `fk_dcr_installation` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dcr_records`
--

LOCK TABLES `dcr_records` WRITE;
/*!40000 ALTER TABLE `dcr_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `dcr_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `installation_inverters`
--

DROP TABLE IF EXISTS `installation_inverters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `installation_inverters` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `installation_id` bigint NOT NULL,
  `inverter_serial_number` varchar(100) NOT NULL,
  `inverter_make` varchar(100) DEFAULT NULL,
  `inverter_model` varchar(100) DEFAULT NULL,
  `inverter_capacity_kw` decimal(10,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_inverter_serial` (`inverter_serial_number`),
  KEY `fk_inverter_installation` (`installation_id`),
  CONSTRAINT `fk_inverter_installation` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `installation_inverters`
--

LOCK TABLES `installation_inverters` WRITE;
/*!40000 ALTER TABLE `installation_inverters` DISABLE KEYS */;
/*!40000 ALTER TABLE `installation_inverters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `installation_locations`
--

DROP TABLE IF EXISTS `installation_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `installation_locations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `installation_id` bigint NOT NULL,
  `latitude` decimal(10,7) NOT NULL,
  `longitude` decimal(10,7) NOT NULL,
  `accuracy_meters` decimal(10,2) DEFAULT NULL,
  `captured_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `captured_by` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_location_installation` (`installation_id`),
  KEY `fk_location_user` (`captured_by`),
  CONSTRAINT `fk_location_installation` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_location_user` FOREIGN KEY (`captured_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `installation_locations`
--

LOCK TABLES `installation_locations` WRITE;
/*!40000 ALTER TABLE `installation_locations` DISABLE KEYS */;
INSERT INTO `installation_locations` VALUES (1,1,17.4791023,78.3038565,101.00,'2026-09-27 08:01:22',1),(2,1,17.4791023,78.3038565,101.00,'2026-09-27 08:01:22',1);
/*!40000 ALTER TABLE `installation_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `installation_panels`
--

DROP TABLE IF EXISTS `installation_panels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `installation_panels` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `installation_id` bigint NOT NULL,
  `panel_position` int DEFAULT NULL,
  `panel_serial_number` varchar(100) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_panel_serial` (`panel_serial_number`),
  KEY `fk_panels_installation` (`installation_id`),
  CONSTRAINT `fk_panels_installation` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `installation_panels`
--

LOCK TABLES `installation_panels` WRITE;
/*!40000 ALTER TABLE `installation_panels` DISABLE KEYS */;
INSERT INTO `installation_panels` VALUES (1,2,1,'DEMO-PANEL-0002-01','2026-09-27 09:09:56'),(2,2,2,'DEMO-PANEL-0002-02','2026-09-27 09:09:56'),(3,3,1,'DEMO-PANEL-0003-01','2026-09-27 09:09:56'),(4,3,2,'DEMO-PANEL-0003-02','2026-09-27 09:09:56'),(5,3,3,'DEMO-PANEL-0003-03','2026-09-27 09:09:56'),(6,3,4,'DEMO-PANEL-0003-04','2026-09-27 09:09:56');
/*!40000 ALTER TABLE `installation_panels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `installation_photos`
--

DROP TABLE IF EXISTS `installation_photos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `installation_photos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `installation_id` bigint NOT NULL,
  `photo_type` varchar(50) NOT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `file_path` varchar(500) DEFAULT NULL,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `captured_at` timestamp NULL DEFAULT NULL,
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `captured_by` bigint DEFAULT NULL,
  `status` varchar(30) DEFAULT 'PENDING',
  PRIMARY KEY (`id`),
  KEY `fk_photo_installation` (`installation_id`),
  KEY `fk_photo_user` (`captured_by`),
  CONSTRAINT `fk_photo_installation` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_photo_user` FOREIGN KEY (`captured_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `installation_photos`
--

LOCK TABLES `installation_photos` WRITE;
/*!40000 ALTER TABLE `installation_photos` DISABLE KEYS */;
/*!40000 ALTER TABLE `installation_photos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `installation_submissions`
--

DROP TABLE IF EXISTS `installation_submissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `installation_submissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `installation_id` bigint NOT NULL,
  `submitted_by` bigint NOT NULL,
  `submission_status` varchar(30) NOT NULL,
  `remarks` text,
  `submitted_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_submission_installation` (`installation_id`),
  KEY `fk_submission_user` (`submitted_by`),
  CONSTRAINT `fk_submission_installation` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_submission_user` FOREIGN KEY (`submitted_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `installation_submissions`
--

LOCK TABLES `installation_submissions` WRITE;
/*!40000 ALTER TABLE `installation_submissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `installation_submissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `installation_sync_queue`
--

DROP TABLE IF EXISTS `installation_sync_queue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `installation_sync_queue` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `installation_id` bigint NOT NULL,
  `operation_type` varchar(30) NOT NULL,
  `entity_type` varchar(50) NOT NULL,
  `entity_id` bigint DEFAULT NULL,
  `payload` json DEFAULT NULL,
  `sync_status` varchar(30) NOT NULL DEFAULT 'PENDING',
  `retry_count` int DEFAULT '0',
  `last_error` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `synced_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_sync_installation` (`installation_id`),
  CONSTRAINT `fk_sync_installation` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `installation_sync_queue`
--

LOCK TABLES `installation_sync_queue` WRITE;
/*!40000 ALTER TABLE `installation_sync_queue` DISABLE KEYS */;
/*!40000 ALTER TABLE `installation_sync_queue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `installation_verifications`
--

DROP TABLE IF EXISTS `installation_verifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `installation_verifications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `installation_id` bigint NOT NULL,
  `verified_by` bigint NOT NULL,
  `verification_status` varchar(30) NOT NULL,
  `verification_remarks` text,
  `verified_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_verification_installation` (`installation_id`),
  KEY `fk_verification_user` (`verified_by`),
  CONSTRAINT `fk_verification_installation` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_verification_user` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `installation_verifications`
--

LOCK TABLES `installation_verifications` WRITE;
/*!40000 ALTER TABLE `installation_verifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `installation_verifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `installations`
--

DROP TABLE IF EXISTS `installations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `installations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `consumer_id` bigint DEFAULT NULL,
  `ula_application_id` varchar(60) NOT NULL,
  `section` varchar(100) DEFAULT NULL,
  `distribution` varchar(150) DEFAULT NULL,
  `service_number` varchar(30) NOT NULL,
  `consumer_name` varchar(150) NOT NULL,
  `consumer_mobile` varchar(20) DEFAULT NULL,
  `new_mobile` varchar(20) DEFAULT NULL,
  `inverter_serial_number` varchar(100) DEFAULT NULL,
  `site_type` varchar(50) DEFAULT NULL,
  `remarks` text,
  `dcr_status` varchar(20) NOT NULL DEFAULT 'PENDING',
  `status` varchar(20) NOT NULL DEFAULT 'NEW',
  `assigned_installer_id` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ula_application_id` (`ula_application_id`),
  UNIQUE KEY `service_number` (`service_number`),
  KEY `idx_installations_dcr_status` (`dcr_status`),
  KEY `idx_installations_status` (`status`),
  KEY `idx_installations_section` (`section`),
  KEY `fk_installations_installer` (`assigned_installer_id`),
  CONSTRAINT `fk_installations_installer` FOREIGN KEY (`assigned_installer_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `installations`
--

LOCK TABLES `installations` WRITE;
/*!40000 ALTER TABLE `installations` DISABLE KEYS */;
/*!40000 ALTER TABLE `installations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'SUPER_ADMIN','2026-09-27 09:09:56'),(2,'ADMIN','2026-09-27 09:09:56'),(3,'INSTALLER','2026-09-27 09:09:56');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_roles`
--

DROP TABLE IF EXISTS `user_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_roles` (
  `user_id` bigint NOT NULL,
  `role_id` bigint NOT NULL,
  PRIMARY KEY (`user_id`,`role_id`),
  KEY `fk_user_roles_role` (`role_id`),
  CONSTRAINT `fk_user_roles_role` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_user_roles_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_roles`
--

LOCK TABLES `user_roles` WRITE;
/*!40000 ALTER TABLE `user_roles` DISABLE KEYS */;
INSERT INTO `user_roles` VALUES (1,1);
/*!40000 ALTER TABLE `user_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `email` varchar(150) NOT NULL,
  `full_name` varchar(150) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'superadmin','$2b$10$x7mmg8oDHraayEL70nDbIOzRPawFwbKzUBN6Pk0kQZIkPEI69Q2d.','superadmin@solartracker.local','Super Administrator',NULL,1,'2026-09-27 09:09:56','2026-09-27 09:09:56');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-28 15:44:09
